<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<!--Content-->
<div class="container-fluid text-center">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>        
    <div class="row align-items-start">
        <div class="col">
        <figure class="figure">
            <img src="Assets/images/p1.PNG" class="figure-img img-fluid rounded" alt="img3">
            <figcaption class="figure-caption text-end" style="font-size: 20px;">In this project we disscussed in a group about the good and bad ethics about the leaders throughout history</figcaption>
            </figure>
        </div>
        <div class="col">
        <figure class="figure">
            <img src="Assets/images/p2.PNG" class="figure-img img-fluid rounded" alt="img4">
            <figcaption class="figure-caption text-end" style="font-size: 20px;">In this project we created a program using python that generates random vehicles and describes their features</figcaption>
            </figure>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>

